/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  transition: background 0.5s ease;
}
button:hover {
  background-color: #27394e;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: 400;
}
h4,
h4 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Nav section with Hero */
.main-head {
  background: #131c27;
  color: white;
}

nav {
  min-height: 10vh;
  padding: 2rem;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/landing-page.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 3rem;
}

/* Benefits section */

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("img/new-york-page.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
}

.locations-head h3 {
  padding: 4rem 0rem;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
}

.moving-cloud-1 {
}

.moving-cloud-2 {
  top: 20%;
  z-index: -1;
  opacity: 0.5;
}
/* Media Querry */
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 2rem;
  }
}
